<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
	</head>

	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/panel">Panel</a>
				<a href="/help">Help</a>
				<a href="/logout">Logout</a>
			</nav>
			<h1>Pyjail AD</h1>
		</header>
		<noscript><h1>Please enable JavaScript to use this website.</h1></noscript>
		{% with messages = get_flashed_messages() %} {% if messages %}
		<section class="container">
			{% for msg in messages %}
			<p>{{ msg }}</p>
			{% endfor %}
		</section>
		{% endif %} {% endwith %} {% block content %}{% endblock %}
	</body>
</html>
